; This is a sample configuration file
; Comments start with ';', as in php.ini

GMAIL_USER = 'your gmail username to send email'
GMAIL_PW ='your gmail password used to deliver email'
MYSQL_URL = 'mysql://username:password@hostname:port/database'
OPENTOK_KEY = 'OpenTokKey'
OPENTOK_SECRET ='OpenTokSecret'
